html, body {
	margin: 0px;
	height: 100%;
	overflow: hidden;
	background: #3e3e3e;
	color: #FFF;
	font-size: 18px;
	font-family: "Droid Sans", Droid Sans, Sans, "Sans Serif";
}

#request-form{
    margin-top: 25px;
}

header{
    height: 60px;
    margin: 15px 15px 5px 15px;
}

.main{
    margin-left: 15px;
    margin-right: 15px;
    display: none;
}

.item-block{
    margin-bottom: 25px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    rgb(148, 26, 26);
}

input {
    height: 45px;
    width: 100%;
    margin-bottom: 5px;
    border: none;
    background: white;
    padding: 5px;
    line-height: 35px;
    font-weight: bold;
    font-size: 18px;
    color: #cc2929;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a:link{
    text-decoration: none;
    text-align: center;
    
}
a .button{
    height: 45px;
    line-height: 45px;
    width: 100%;
    font-weight: bold;
    background: #cc2929;
    color: white;
    border: none;
    margin: 0 0 5px 0;  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}
a:hover .button{
    background: white;
    color: #cc2929;
}

#overview{
    background: white;
    height: 40px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    margin: 0 0 5px 0;
    color: black;
    font-size: 12px;
    font-style: italic;
}
#overview span{
    color: #cc2929;
}

ul{
    margin: 0;
    padding: 0;
}

.route{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    background: #fff;
    color: #cc2929;
    padding: 5px;
    line-height: 20px;
    font-size: 16px;
    margin: 0 0 5px 0;
    list-style: none;
}

.route:hover, .route-selected{
    color: #fff;
    background: #cc2929;
}

.train{
    vertical-align: middle;
    background: url('../img/train.png') no-repeat center center;
    width: 18px;
    height: 20px;
    display: inline-block;
}

.route:hover .train, .route-selected .train{
    background: url('../img/train_white.png') no-repeat center center;
}

.part span.direction{
    font-size: 13px;
    color: black;
    font-style: italic;
}

.part-container{
    border-top: 3px solid #3e3e3e;
    background: #fff;
    color: #cc2929;
    padding: 10px 5px 5px 5px;
    margin-top: 5px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -5px;
    font-size: 16px;
}
.responseWrapper{
    height: 250px;
}
.duration{
    float: right;
}
input[type="date"]::-webkit-inner-spin-button, input[type="time"]::-webkit-inner-spin-button{
    display:none;
}
